#infraCalendario{
	position:absolute;
	width:205px;
	border:1px solid #317082;
	padding:1px;
	background-color: #FFF;
	font-family:arial;
	font-size:10px;
	padding-bottom:20px;
	visibility:hidden;
}
#infraCalendario span,#infraCalendario img{
	float:left;
}
#infraCalendario .selectBox,#infraCalendario .selectBoxOver{
	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#infraCalendario .selectBoxTime,#infraCalendario .selectBoxTimeOver{	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#infraCalendario td{
	padding:3px;
	margin:0px;
	font-size:10px;
}

#infraCalendario .selectBox{
	border:1px solid #E2EBED;		
	color: #E2EBED;
	position:relative;
}
#infraCalendario .selectBoxOver{
	border:1px solid #FFF;
	background-color: #317082;
	color: #FFF;
	position:relative;
}
#infraCalendario .selectBoxTime{
	border:1px solid #317082;		
	color: #317082;
	position:relative;
}

#infraCalendario .selectBoxTimeOver{
	border:1px solid #216072;	
	color: #216072;
	position:relative;
}

#infraCalendario .topBar{
	height:16px;
	padding:2px;
	background-color: #317082;


}
#infraCalendario .activeDay{	/* Active day in the calendar */
	color:#FF0000;
	background-color:yellow;
	text-align:center;
	font-weight:bold;
}
#infraCalendario .todaysDate{
	height:17px;
	line-height:17px;
	padding:2px;
	background-color: #E2EBED;
	text-align:center;
	position:absolute;
	bottom:0px;
	width:201px;
}
#infraCalendario .todaysDate div{
	float:left;
}
	
#infraCalendario .timeBar{
	height:17px;
	line-height:17px;
	background-color: #E2EBED;
	width:72px;
	color:#FFF;
	position:absolute;
	right:0px;
}

#infraCalendario .timeBar div{
	float:left;
	margin-right:1px;
}


#infraCalendario .monthYearPicker{
	background-color: #E2EBED;
	border:1px solid #AAAAAA;
	position:absolute;
	color: #317082;
	left:0px;
	top:15px;
	z-index:1000;
	display:none;

}
#infraCalendario #monthSelect{
	width:70px;
}
#infraCalendario .monthYearPicker div{
	float:none;
	clear:both;	
	padding:1px;
	margin:1px;	
	cursor:pointer;
}
#infraCalendario .monthYearActive{
	background-color:#317082;
	color: #E2EBED;
}

#infraCalendario td{
	text-align:right;
	cursor:pointer;
}

#infraCalendario .topBar img{
	cursor:pointer;
}
#infraCalendario .topBar div{
	float:left;
	margin-right:1px;
}
